<div class="login">
<h1>ログイン画面</h1>
</div>

<div class="login_menu">
<p class="mail">メールアドレス</p>
<div style="border:1px solid #ccc; height:30px; margin-bottom: 10px; border-radius: 4px;"></div>
<div>
<p class="password">パスワード</p>
<div style="border:1px solid #ccc; height:30px; margin-bottom: 20px; border-radius: 4px;"></div>
<%= link_to "ログイン", '#', class: "btn btn-block btn-primary" %>
</div>