<div class="login">
  <h1>ログイン</h1>
</div>

<div class="login_menu">
  <p class="mail">メールアドレス</p>
  <div style="border:2px solid #ccc; height:30px; margin-bottom: 10px; border-radius: 4px;"></div>

  <p class="password">パスワード</p>
  <div style="border:2px solid #ccc; height:30px; margin-bottom: 20px; border-radius: 4px;"></div>
  <%= link_to "ログイン", '#', class: "btn btn-block btn-primary" %>
</div>