<div class="login">
  <h1>タスク編集</h1>
</div>

<div class="task_edit">
  <p class="mail">本日のタスク</p>
  <div style="border:2px solid #ccc; height:90px; margin-bottom: 10px; border-radius: 4px;"></div>

  
  <%= link_to "登録", '#', class: "btn btn-block btn-primary" %>
  
  <table style="border:2px solid #ccc; margin-top:20px;">
    <tr style="height:50px; font-size:18px; text-align:center;">
      <td colspan="7">10月</td>
    </tr>
    <tr style="height:50px; font-size:18px; text-align:center;">
      <td style="width:60px; color:red;">日</td>
      <td style="width:60px;">月</td>
      <td style="width:60px;">火</td>
      <td style="width:60px;">水</td>
      <td style="width:60px;">木</td>
      <td style="width:60px;">金</td>
      <td style="width:60px; color:blue;">土</td>
    </tr>   
    
    <tr style="height:50px; font-size:18px; text-align:center;">
      <td style="width:60px; color:#ddd;">29</td>
      <td style="width:60px; color:#ddd;">30</td>
      <td style="width:60px;">1</td>
      <td style="width:60px;">2</td>
      <td style="width:60px;">3</td>
      <td style="width:60px;">4</td>
      <td style="width:60px;">5</td>
    </tr>   
    
    <tr style="height:50px; font-size:18px; text-align:center;">
      <td style="width:60px;">6</td>
      <td style="width:60px;">7</td>
      <td style="width:60px;">8</td>
      <td style="width:60px;">9</td>
      <td style="width:60px;">10</td>
      <td style="width:60px;">11</td>
      <td style="width:60px;">12</td>
    </tr> 
    
    <tr style="height:50px; font-size:18px; text-align:center;">
      <td style="width:60px;">13</td>
      <td style="width:60px;">14</td>
      <td style="width:60px;">15</td>
      <td style="width:60px;">16</td>
      <td style="width:60px;">17</td>
      <td style="width:60px;">18</td>
      <td style="width:60px; background-color:#eee;">19</td>
    </tr> 
    
    <tr style="height:50px; font-size:18px; text-align:center;">
      <td style="width:60px;">20</td>
      <td style="width:60px;">21</td>
      <td style="width:60px;">22</td>
      <td style="width:60px;">23</td>
      <td style="width:60px;">24</td>
      <td style="width:60px;">25</td>
      <td style="width:60px;">26</td>
    </tr> 
    
    <tr style="height:50px; font-size:18px; text-align:center;">
      <td style="width:60px;">27</td>
      <td style="width:60px;">28</td>
      <td style="width:60px;">29</td>
      <td style="width:60px;">30</td>
      <td style="width:60px;">31</td>
      <td style="width:60px; color:#ddd;">1</td>
      <td style="width:60px; color:#ddd;">2</td>
    </tr> 
 </table>
</div>