<div class="setup">
  <h1>アカウント設定</h1>
</div>

<div class="set_up_menu">
  <p class="name">名前</p>
  <div style="border:2px solid #ccc; height:30px; margin-bottom: 10px; border-radius: 4px;">Sampleuser</div>
  
  <p class="mail">メールアドレス</p>
  <div style="border:2px solid #ccc; height:30px; margin-bottom: 10px; border-radius: 4px;">sample@email.com</div>
  

  <p class="password">新しいパスワード</p>
  <div style="border:2px solid #ccc; height:30px; margin-bottom: 10px; border-radius: 4px;"></div>
  
  <p class="password_confirmation">新しいパスワード(確認用)</p>
  <div style="border:2px solid #ccc; height:30px; margin-bottom: 30px; border-radius: 4px;"></div>  
  
  <%= link_to "登録", '#', class: "btn btn-block btn-primary" %>
  
</div>