<div class="sign_up">
  <h1>ユーザー登録</h1>
</div>

<div class="sign_up_menu">
  <p class="name">名前</p>
  <div style="border:2px solid #ccc; height:30px; margin-bottom: 10px; border-radius: 4px;"></div>
  
  <p class="mail">メールアドレス</p>
  <div style="border:2px solid #ccc; height:30px; margin-bottom: 10px; border-radius: 4px;"></div>
  

  <p class="password">パスワード</p>
  <div style="border:2px solid #ccc; height:30px; margin-bottom: 20px; border-radius: 4px;"></div>
  
  <p class="password_confirmation">パスワード(確認用)</p>
  <div style="border:2px solid #ccc; height:30px; margin-bottom: 20px; border-radius: 4px;"></div>  
  
  <%= link_to "新規作成", '#', class: "btn btn-block btn-primary" %>
  
</div>