@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

header {
}
header ul {margin-top:20px;
}

body {
  padding-top: 110px;
  background-color: #f7f8fa;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 20px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 3px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.login{
    color:#ccc;
    padding-right:200px;
}

.login_menu{
    margin: 0 auto;
    padding: 24px 30px 24px 30px;
    width: 400px;
    height: 280px;
    background-color:#fff;
    box-shadow: 2px 2px 4px gray;
}

.mail{
    font-size: 18px;
    
}

.password{
    font-size: 18px;
}

.navbar-nav{
    margin-top: 20px;
    font-size: 18px;
}

.navbar-inverse{
    background-color: #000;
}

.sign_up{
    color:#ccc;
    padding-right:100px;
}

.sign_up_menu{
    margin: 0 auto;
    padding: 24px 30px 24px 30px;
    width: 400px;
    height: 420px;
    background-color:#fff;
    box-shadow: 2px 2px 4px gray;
}

.set_up{
    color:#ccc;
    padding-right:100px;
}

.set_up_menu{
    margin: 0 auto;
    padding: 24px 30px 24px 30px;
    width: 400px;
    height: 420px;
    background-color:#fff;
    box-shadow: 2px 2px 4px gray;
}

.task_edit{
    margin: 0 auto;
    padding: 24px 30px 24px 30px;
    width: 480px;
    height: 600px;
    background-color:#fff;
    box-shadow: 2px 2px 4px gray;
}

